
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>LOGIN</title>
</head>
<body>
  <div class="container">

  
  <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="userEmail" [(ngModel)]="userEmail">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name = "userPassword" [(ngModel)]="userPassword">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="flex">
    <div class="form-floating box">
      <button type="submit" class="btn btn-secondary" style="margin-top: 30px;">OK</button>
    </div>
    <div class="form-floating box">
      <button (click)="userList()" class="btn btn-secondary" style="margin-top: 30px;">Users List</button>
    </div>
    <div class="form-floating box">
      <button type="submit" class="btn btn-secondary" style="margin-top: 30px;" (click)="openModal()">Add User</button>
    </div>
  </div>
</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>

