.box{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
 
}

.box {
    word-wrap: break-word;
}

app-user-cards{
    max-width: 100%;
    -webkit-hyphens: auto;
    hyphens: auto;
}

